@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Hebrew:wght@100..900&family=Outfit:wght@100..900&display=swap");
@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.nav-menu .nav-item a, h1, h2, h3, h4, h5, h6, p, p.large {
  font-family: "Noto Sans Hebrew", sans-serif !important;
  direction: rtl !important;
  text-align: right;
}
.nav-menu .nav-item a.eng, h1.eng, h2.eng, h3.eng, h4.eng, h5.eng, h6.eng, p.eng, p.large.eng {
  font-family: "Outfit", sans-serif !important;
  direction: ltr !important;
}

.promo-title {
  text-align: right;
}
.promo-title p strong {
  text-align: right;
  font-family: "Noto Sans Hebrew", sans-serif !important;
}

@media (min-width: 1024px) {
  .nav-menu .nav-item.has-dropdown .dropdown {
    left: auto;
    right: -30px;
  }
  .nav-menu .nav-item.has-dropdown .dropdown ul {
    text-align: right;
  }
}
.our-focus-item .row .col-12 {
  grid-template-columns: 3fr 2fr;
  gap: 30px;
}
.our-focus-item .row .col-12 .component-container:first-child {
  order: 2;
}
