@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Hebrew:wght@100..900&family=Outfit:wght@100..900&display=swap");
@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
h1 {
  font-family: "Outfit", sans-serif;
  font-weight: 600;
  font-size: 40px;
  line-height: 44px;
  letter-spacing: 0%;
  color: #1E3EAF;
  text-align: center;
}
@media (min-width: 1024px) {
  h1 {
    font-size: 70px;
    line-height: 91px;
  }
}
h1.hebrew {
  font-family: "Noto Sans Hebrew", sans-serif !important;
  font-weight: 600;
  text-align: right;
  direction: rtl;
}

h2 {
  font-family: "Outfit", sans-serif;
  font-weight: 600;
  font-size: 32px;
  line-height: 42px;
  letter-spacing: 0%;
  color: #1E3EAF;
}
@media (min-width: 1024px) {
  h2 {
    font-size: 60px;
    line-height: 78px;
  }
}
h2.hebrew {
  font-family: "Noto Sans Hebrew", sans-serif !important;
  font-weight: 600;
  text-align: right;
  direction: rtl;
}

h3 {
  font-family: "Outfit", sans-serif;
  font-weight: 600;
  font-size: 32px;
  line-height: 150%;
  /* 24px */
  letter-spacing: 0%;
  color: #1E3EAF;
}
h3.hebrew {
  font-family: "Noto Sans Hebrew", sans-serif !important;
  font-weight: 600;
  text-align: right;
  direction: rtl;
}
@media (min-width: 1024px) {
  h3 {
    font-size: 45px;
    line-height: 58.5px;
  }
}

h4 {
  font-family: "Outfit", sans-serif;
  font-weight: 600;
  font-size: 22px;
  line-height: 28px;
  letter-spacing: 0%;
  color: #1E3EAF;
}
@media (min-width: 1024px) {
  h4 {
    font-size: 32px;
    line-height: 42px;
  }
}
h4.hebrew {
  font-family: "Noto Sans Hebrew", sans-serif !important;
  font-weight: 600;
  text-align: right;
  direction: rtl;
}

h5 {
  font-family: "Outfit", sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 26px;
  letter-spacing: 0%;
  color: #27277C;
}
@media (min-width: 1024px) {
  h5 {
    font-size: 24px;
    line-height: 32px;
  }
}
h5.hebrew {
  font-family: "Noto Sans Hebrew", sans-serif !important;
  font-weight: 600;
  text-align: right;
  direction: rtl;
}

h6 {
  font-family: "Outfit", sans-serif;
  font-weight: 300;
  font-size: 18px;
  line-height: 130%;
  letter-spacing: 0%;
  color: #2A2A2A;
}
@media (min-width: 1024px) {
  h6 {
    font-size: 20px;
    line-height: 26px;
  }
}
h6.hebrew {
  font-family: "Noto Sans Hebrew", sans-serif !important;
  font-weight: 600;
  text-align: right;
  direction: rtl;
}

p {
  font-family: "Outfit", sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  color: #2A2A2A;
}
@media (min-width: 1024px) {
  p {
    font-size: 18px;
    line-height: 27px;
  }
}
p strong, p em, p b {
  font-weight: 400;
  color: #2A2A2A;
}
p.hebrew {
  font-family: "Noto Sans Hebrew", sans-serif !important;
  font-weight: 600;
  text-align: right;
  direction: rtl;
}

p.large {
  font-family: "Outfit", sans-serif;
  font-weight: 300;
  font-size: 18px;
  line-height: 26px;
  letter-spacing: 0%;
  color: #2A2A2A;
}
p.large strong, p.large em, p.large b {
  font-weight: 600;
  color: #1E3EAF;
}
@media (min-width: 1024px) {
  p.large {
    font-size: 24px;
    line-height: 150%;
  }
}
p.large.hebrew {
  font-family: "Noto Sans Hebrew", sans-serif !important;
  font-weight: 400;
  text-align: right;
  direction: rtl;
}

p.caption {
  font-family: "Outfit", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 0%;
  color: #2A2A2A;
  margin-top: 3px;
}
@media (min-width: 1024px) {
  p.caption {
    font-size: 15px;
    line-height: 150%;
  }
}
p.caption.hebrew {
  font-family: "Noto Sans Hebrew", sans-serif !important;
  font-weight: 600;
  text-align: right;
  direction: rtl;
}

.rich-text h1, .page.page-main h1 {
  font-family: "Outfit", sans-serif;
  font-weight: 600;
  font-size: 40px;
  line-height: 44px;
  letter-spacing: 0%;
  color: #F5F5F5;
  text-align: center;
}
@media (min-width: 1024px) {
  .rich-text h1, .page.page-main h1 {
    font-size: 70px;
    line-height: 91px;
  }
}
.rich-text h1.hebrew, .page.page-main h1.hebrew {
  font-family: "Noto Sans Hebrew", sans-serif !important;
  font-weight: 600;
  text-align: right;
  direction: rtl;
}
.rich-text h2, .page.page-main h2 {
  font-family: "Outfit", sans-serif;
  font-weight: 600;
  font-size: 32px;
  line-height: 42px;
  letter-spacing: 0%;
  color: #1E3EAF;
}
@media (min-width: 1024px) {
  .rich-text h2, .page.page-main h2 {
    font-size: 60px;
    line-height: 78px;
  }
}
.rich-text h2.hebrew, .page.page-main h2.hebrew {
  font-family: "Noto Sans Hebrew", sans-serif !important;
  font-weight: 600;
  text-align: right;
  direction: rtl;
}
.rich-text h3, .page.page-main h3 {
  font-family: "Outfit", sans-serif;
  font-weight: 600;
  font-size: 32px;
  line-height: 150%;
  /* 24px */
  letter-spacing: 0%;
  color: #D2E9FF;
}
.rich-text h3.hebrew, .page.page-main h3.hebrew {
  font-family: "Noto Sans Hebrew", sans-serif !important;
  font-weight: 600;
  text-align: right;
  direction: rtl;
}
@media (min-width: 1024px) {
  .rich-text h3, .page.page-main h3 {
    font-size: 45px;
    line-height: 58.5px;
  }
}
.rich-text h4, .page.page-main h4 {
  font-family: "Outfit", sans-serif;
  font-weight: 600;
  font-size: 22px;
  line-height: 28px;
  letter-spacing: 0%;
  color: #1E3EAF;
}
@media (min-width: 1024px) {
  .rich-text h4, .page.page-main h4 {
    font-size: 32px;
    line-height: 42px;
  }
}
.rich-text h4.hebrew, .page.page-main h4.hebrew {
  font-family: "Noto Sans Hebrew", sans-serif !important;
  font-weight: 600;
  text-align: right;
  direction: rtl;
}
.rich-text h5, .page.page-main h5 {
  font-family: "Outfit", sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 26px;
  letter-spacing: 0%;
  color: #27277C;
}
@media (min-width: 1024px) {
  .rich-text h5, .page.page-main h5 {
    font-size: 24px;
    line-height: 32px;
  }
}
.rich-text h5.hebrew, .page.page-main h5.hebrew {
  font-family: "Noto Sans Hebrew", sans-serif !important;
  font-weight: 600;
  text-align: right;
  direction: rtl;
}
.rich-text h6, .page.page-main h6 {
  font-family: "Outfit", sans-serif;
  font-weight: 300;
  font-size: 18px;
  line-height: 130%;
  letter-spacing: 0%;
  color: #2A2A2A;
}
@media (min-width: 1024px) {
  .rich-text h6, .page.page-main h6 {
    font-size: 20px;
    line-height: 26px;
  }
}
.rich-text h6.hebrew, .page.page-main h6.hebrew {
  font-family: "Noto Sans Hebrew", sans-serif !important;
  font-weight: 600;
  text-align: right;
  direction: rtl;
}
.rich-text p, .page.page-main p {
  font-family: "Outfit", sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  color: #2A2A2A;
}
@media (min-width: 1024px) {
  .rich-text p, .page.page-main p {
    font-size: 18px;
    line-height: 27px;
  }
}
.rich-text p strong, .rich-text p em, .rich-text p b, .page.page-main p strong, .page.page-main p em, .page.page-main p b {
  font-weight: 400;
  color: #2A2A2A;
}
.rich-text p.hebrew, .page.page-main p.hebrew {
  font-family: "Noto Sans Hebrew", sans-serif !important;
  font-weight: 600;
  text-align: right;
  direction: rtl;
}
.rich-text p.large, .page.page-main p.large {
  font-family: "Outfit", sans-serif;
  font-weight: 300;
  font-size: 18px;
  line-height: 26px;
  letter-spacing: 0%;
  color: #2A2A2A;
}
.rich-text p.large strong, .rich-text p.large em, .rich-text p.large b, .page.page-main p.large strong, .page.page-main p.large em, .page.page-main p.large b {
  font-weight: 600;
  color: #1E3EAF;
}
@media (min-width: 1024px) {
  .rich-text p.large, .page.page-main p.large {
    font-size: 24px;
    line-height: 150%;
  }
}
.rich-text p.large.hebrew, .page.page-main p.large.hebrew {
  font-family: "Noto Sans Hebrew", sans-serif !important;
  font-weight: 400;
  text-align: right;
  direction: rtl;
}
.rich-text p.caption, .page.page-main p.caption {
  font-family: "Outfit", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 0%;
  color: #2A2A2A;
  margin-top: 3px;
}
@media (min-width: 1024px) {
  .rich-text p.caption, .page.page-main p.caption {
    font-size: 15px;
    line-height: 150%;
  }
}
.rich-text p.caption.hebrew, .page.page-main p.caption.hebrew {
  font-family: "Noto Sans Hebrew", sans-serif !important;
  font-weight: 600;
  text-align: right;
  direction: rtl;
}
.rich-text p b, .rich-text p strong, .page.page-main p b, .page.page-main p strong {
  font-family: "Outfit", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  color: #2A2A2A;
}
@media (min-width: 1024px) {
  .rich-text p b, .rich-text p strong, .page.page-main p b, .page.page-main p strong {
    font-size: 18px;
    line-height: 27px;
  }
}
.rich-text p b strong, .rich-text p b em, .rich-text p b b, .rich-text p strong strong, .rich-text p strong em, .rich-text p strong b, .page.page-main p b strong, .page.page-main p b em, .page.page-main p b b, .page.page-main p strong strong, .page.page-main p strong em, .page.page-main p strong b {
  font-weight: 600;
  color: #2A2A2A;
}
.rich-text p b.hebrew, .rich-text p strong.hebrew, .page.page-main p b.hebrew, .page.page-main p strong.hebrew {
  font-family: "Noto Sans Hebrew", sans-serif !important;
  font-weight: 600;
  text-align: right;
  direction: rtl;
}
.rich-text ul li, .page.page-main ul li {
  font-family: "Outfit", sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  color: #2A2A2A;
}
@media (min-width: 1024px) {
  .rich-text ul li, .page.page-main ul li {
    font-size: 18px;
    line-height: 27px;
  }
}
.rich-text ul li strong, .rich-text ul li em, .rich-text ul li b, .page.page-main ul li strong, .page.page-main ul li em, .page.page-main ul li b {
  font-weight: 400;
  color: #2A2A2A;
}
.rich-text ul li.hebrew, .page.page-main ul li.hebrew {
  font-family: "Noto Sans Hebrew", sans-serif !important;
  font-weight: 600;
  text-align: right;
  direction: rtl;
}

a.button {
  padding: 12px 24px;
  border-radius: 30px;
}
a.button span {
  font-family: "Outfit", sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 0%;
  text-align: center;
}
a.button.hebrew {
  font-family: "Noto Sans Hebrew", sans-serif !important;
  font-weight: 600;
  text-align: right;
  direction: rtl;
}

p a {
  font-family: "Outfit", sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 0%;
}
p a:hover {
  text-decoration: none;
}
p a.hebrew {
  font-family: "Noto Sans Hebrew", sans-serif !important;
  font-weight: 600;
  text-align: right;
  direction: rtl;
}

h4.section-header {
  display: table;
  padding-bottom: 10px;
  margin-left: 0;
  border-bottom: 8px solid #1E3EAF;
  margin: 0 auto;
}

h4.section-header-white {
  font-family: "Outfit", sans-serif;
  font-weight: 600;
  font-size: 22px;
  line-height: 28px;
  letter-spacing: 0%;
  color: #FDFDFD;
  display: table;
  padding-bottom: 10px;
  margin-left: 0;
  border-bottom: 8px solid #D2E9FF;
  margin: 0 auto;
  color: #FDFDFD;
}
@media (min-width: 1024px) {
  h4.section-header-white {
    font-size: 32px;
    line-height: 42px;
  }
}
h4.section-header-white.hebrew {
  font-family: "Noto Sans Hebrew", sans-serif !important;
  font-weight: 600;
  text-align: right;
  direction: rtl;
}

h4.section-header-center {
  display: table;
  padding-bottom: 10px;
  margin-left: 0;
  border-bottom: 8px solid #1E3EAF;
  margin: 0 auto;
  margin-bottom: 40px;
}

h4.section-header-left {
  display: table;
  padding-bottom: 10px;
  margin-left: 0;
  border-bottom: 8px solid #1E3EAF;
  margin-left: 0;
}

h4.section-header-right {
  display: table;
  padding-bottom: 10px;
  margin-left: 0;
  border-bottom: 8px solid #1E3EAF;
  margin-right: 0;
  margin-left: auto;
}

h5.section-header {
  display: table;
  padding-bottom: 10px;
  margin-left: 0;
  border-bottom: 8px solid #1E3EAF;
  margin: 0 auto;
  color: #1E3EAF !important;
}

h5.section-header-center {
  display: table;
  padding-bottom: 10px;
  margin-left: 0;
  border-bottom: 8px solid #1E3EAF;
  margin: 0 auto;
  margin-bottom: 40px;
}

h5.section-header-left {
  display: table;
  padding-bottom: 10px;
  margin-left: 0;
  border-bottom: 8px solid #1E3EAF;
  margin-left: 0;
  color: #1E3EAF !important;
}

h5.section-header-right {
  display: table;
  padding-bottom: 10px;
  margin-left: 0;
  border-bottom: 8px solid #1E3EAF;
  margin-right: 0;
  margin-left: auto;
}

.make-a-difference h4.section-header, h4.section-header-diff {
  display: table;
  padding-bottom: 10px;
  margin-left: 0;
  border-bottom: 6px solid #1c88ed;
  margin-left: 0;
}

.bg-navy-blue h4.section-header-center {
  display: table;
  padding-bottom: 10px;
  margin-left: 0;
  border-bottom: 8px solid #D2E9FF;
  margin: 0 auto;
  color: #FDFDFD;
  color: #FDFDFD !important;
}

h5.section-header {
  display: table;
  padding-bottom: 10px;
  margin-left: 0;
  border-bottom: 8px solid #1E3EAF;
  margin: 0 auto;
}

p.section-header, p.eyebrow {
  display: table;
  padding-bottom: 10px;
  margin-left: 0;
  border-bottom: 4px solid #1c88ed;
}

p.eyebrow {
  font-family: "Outfit", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  color: #1E3EAF;
  display: table;
  padding-bottom: 10px;
  margin-left: 0;
  border-bottom: 4px solid #1c88ed;
  margin-right: auto;
  margin-left: 0px;
}
@media (min-width: 1024px) {
  p.eyebrow {
    font-size: 18px;
    line-height: 27px;
  }
}
p.eyebrow strong, p.eyebrow em, p.eyebrow b {
  font-weight: 600;
  color: #1E3EAF;
}
p.eyebrow.hebrew {
  font-family: "Noto Sans Hebrew", sans-serif !important;
  font-weight: 600;
  text-align: right;
  direction: rtl;
}

mark {
  color: #1c88ed !important;
  background-color: transparent !important;
}

section.page-main {
  background: #F5F5F5;
}
section.page-main .section-template-rows > .row:last-child .navbar {
  position: absolute;
  top: 0;
  width: 100%;
  left: 0;
}
section.page-main .section-template-rows .feature-posts {
  background: #ECECEC;
}
section.page-main .row header.page-title {
  margin-bottom: 0px;
  box-sizing: border-box;
  padding: 30px 20px;
  padding-bottom: 0px !important;
  padding-top: 0px !important;
}
@media (min-width: 768px) {
  section.page-main .row header.page-title {
    padding: 30px 20px;
  }
}
@media (min-width: 1024px) {
  section.page-main .row header.page-title {
    padding: 50px 60px;
  }
}
@media (min-width: 1300px) {
  section.page-main .row header.page-title {
    padding: 60px 80px;
  }
}
section.page-main .row header.page-title .byline .author, section.page-main .row header.page-title .byline a {
  font-family: "Outfit", sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  color: #2A2A2A;
  font-style: normal;
}
@media (min-width: 1024px) {
  section.page-main .row header.page-title .byline .author, section.page-main .row header.page-title .byline a {
    font-size: 18px;
    line-height: 27px;
  }
}
section.page-main .row header.page-title .byline .author strong, section.page-main .row header.page-title .byline .author em, section.page-main .row header.page-title .byline .author b, section.page-main .row header.page-title .byline a strong, section.page-main .row header.page-title .byline a em, section.page-main .row header.page-title .byline a b {
  font-weight: 400;
  color: #2A2A2A;
}
section.page-main .row header.page-title .byline .author.hebrew, section.page-main .row header.page-title .byline a.hebrew {
  font-family: "Noto Sans Hebrew", sans-serif !important;
  font-weight: 600;
  text-align: right;
  direction: rtl;
}
section.page-main .col-7 {
  width: 100%;
}
section.page-main .shell {
  margin-top: 70px;
}
section.page-main .shell > .row {
  box-sizing: border-box;
  padding: 30px 20px;
  padding-bottom: 0px !important;
}
@media (min-width: 768px) {
  section.page-main .shell > .row {
    padding: 30px 20px;
  }
}
@media (min-width: 1024px) {
  section.page-main .shell > .row {
    padding: 50px 60px;
  }
}
@media (min-width: 1300px) {
  section.page-main .shell > .row {
    padding: 60px 80px;
  }
}
section.page-main .shell > .row:nth-child(2) {
  display: grid;
  grid-template-columns: 1fr;
  padding-top: 0px !important;
}
section.page-main .shell > .row:nth-child(2) .col-8 {
  order: 2;
  width: 100%;
}
section.page-main .shell > .row:nth-child(2) .col-8 article.article {
  margin: 0 auto;
  display: grid;
  gap: 20px;
}
section.page-main .shell > .row:nth-child(2) .col-8 article.article .editor-copy {
  max-width: 650px;
  display: grid;
  margin: 0 auto;
}
section.page-main .shell > .row:nth-child(2) .col-8 article.article .editor-copy ul li span, section.page-main .shell > .row:nth-child(2) .col-8 article.article .editor-copy p, section.page-main .shell > .row:nth-child(2) .col-8 article.article .editor-copy ul li {
  font-family: "Outfit", sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  color: #2A2A2A;
}
@media (min-width: 1024px) {
  section.page-main .shell > .row:nth-child(2) .col-8 article.article .editor-copy ul li span, section.page-main .shell > .row:nth-child(2) .col-8 article.article .editor-copy p, section.page-main .shell > .row:nth-child(2) .col-8 article.article .editor-copy ul li {
    font-size: 18px;
    line-height: 27px;
  }
}
section.page-main .shell > .row:nth-child(2) .col-8 article.article .editor-copy ul li span strong, section.page-main .shell > .row:nth-child(2) .col-8 article.article .editor-copy ul li span em, section.page-main .shell > .row:nth-child(2) .col-8 article.article .editor-copy ul li span b, section.page-main .shell > .row:nth-child(2) .col-8 article.article .editor-copy p strong, section.page-main .shell > .row:nth-child(2) .col-8 article.article .editor-copy p em, section.page-main .shell > .row:nth-child(2) .col-8 article.article .editor-copy p b, section.page-main .shell > .row:nth-child(2) .col-8 article.article .editor-copy ul li strong, section.page-main .shell > .row:nth-child(2) .col-8 article.article .editor-copy ul li em, section.page-main .shell > .row:nth-child(2) .col-8 article.article .editor-copy ul li b {
  font-weight: 400;
  color: #2A2A2A;
}
section.page-main .shell > .row:nth-child(2) .col-8 article.article .editor-copy ul li span.hebrew, section.page-main .shell > .row:nth-child(2) .col-8 article.article .editor-copy p.hebrew, section.page-main .shell > .row:nth-child(2) .col-8 article.article .editor-copy ul li.hebrew {
  font-family: "Noto Sans Hebrew", sans-serif !important;
  font-weight: 600;
  text-align: right;
  direction: rtl;
}
section.page-main .shell > .row:nth-child(2) .col-8 .section-template-items {
  max-width: 800px;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 30px 20px;
}
@media (min-width: 768px) {
  section.page-main .shell > .row:nth-child(2) .col-8 .section-template-items {
    padding: 30px 20px;
  }
}
@media (min-width: 1024px) {
  section.page-main .shell > .row:nth-child(2) .col-8 .section-template-items {
    padding: 50px 60px;
  }
}
@media (min-width: 1300px) {
  section.page-main .shell > .row:nth-child(2) .col-8 .section-template-items {
    padding: 60px 80px;
  }
}
section.page-main .shell > .row:nth-child(2) .col-3 {
  order: 1;
  box-sizing: border-box;
  padding: 30px 20px;
  padding-bottom: 0px !important;
  padding-top: 0px !important;
  width: 100%;
}
@media (min-width: 768px) {
  section.page-main .shell > .row:nth-child(2) .col-3 {
    padding: 30px 20px;
  }
}
@media (min-width: 1024px) {
  section.page-main .shell > .row:nth-child(2) .col-3 {
    padding: 50px 60px;
  }
}
@media (min-width: 1300px) {
  section.page-main .shell > .row:nth-child(2) .col-3 {
    padding: 60px 80px;
  }
}
section.page-main .shell > .row:nth-child(2) .col-3 .widget:last-child {
  display: none;
}
section.page-main .shell > .row:nth-child(2) .col-3 .widget {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
section.page-main .shell > .row:nth-child(2) .col-3 .widget .headers {
  margin-bottom: 0px;
}
section.page-main .shell > .row:nth-child(2) .col-3 .widget .headers li a {
  font-family: "Outfit", sans-serif;
  font-weight: 300;
  font-size: 18px;
  line-height: 130%;
  letter-spacing: 0%;
  color: #2A2A2A;
  font-weight: 600;
}
@media (min-width: 1024px) {
  section.page-main .shell > .row:nth-child(2) .col-3 .widget .headers li a {
    font-size: 20px;
    line-height: 26px;
  }
}
section.page-main .shell > .row:nth-child(2) .col-3 .widget .headers li a.hebrew {
  font-family: "Noto Sans Hebrew", sans-serif !important;
  font-weight: 600;
  text-align: right;
  direction: rtl;
}
section.page-main .shell > .row:nth-child(2) .col-3 .widget .headers li a i {
  display: none;
}
section.page-main .shell > .row:nth-child(2) .col-3 .widget ul.tags li a {
  background: #F5F5F5;
  padding: 10px 25px;
  border: 1px solid #c9c9c9;
  border-radius: 24px;
  font-family: "Outfit", sans-serif;
  font-weight: 600;
  font-size: 12px;
  line-height: 150%;
  letter-spacing: 0%;
  color: #2A2A2A;
}
@media (min-width: 1024px) {
  section.page-main .shell > .row:nth-child(2) .col-3 .widget ul.tags li a {
    font-size: 16px;
    line-height: 150%;
  }
}
section.page-main .shell > .row:nth-child(2) .col-3 .widget ul.tags li a .num {
  display: none;
}

.entry-thumbnail .entry-thumbnail {
  float: none;
}
.entry-thumbnail img {
  margin: 0px;
  max-width: none;
  width: 100%;
  border-radius: 24px;
  height: auto;
  max-height: none;
}

.article img, .article p img {
  padding: 0px;
  margin-top: 0px;
  border-radius: 24px;
}

nav.post-nav {
  display: none;
}
